body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background: url('./images/intro-bg0.jpg') no-repeat fixed center;
  background-size: 100vw 100vh;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
